@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --primary-color: rgb(248, 249, 250);
  --second-color: #E8EEF1;

  --header-height: 150px;
  --footer-height: 60px;  
  --padding-all-side: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
