@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu&display=swap');

:root {
  --primary-color: #DBF5F0;
  --title-color: #0A0708;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0C6170;
  -webkit-font-smoothing: antialiased;
}

body, button {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.1em;
  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
}

a {
  text-decoration: none;
}
