#form {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas: 
        "header"
        "content"
        "footer";
    background: var(--primary-color);
}

header {
    grid-area: header;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}
